<a class="btn btn-primary" href="/questions" role="button">Back</a>
<br></br>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Question:</strong>
  <%= @question.content %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Yes:</strong>
  <%= @question.yes %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">No:</strong>
  <%= @question.no %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Unsure:</strong>
  <%= @question.unsure %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Comments:</strong>
  <%= @question.comments %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Breakdown by Gender:</strong>
  <ul>
    <li>
      <h4>Male</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>Female</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>Undisclosed</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Breakdown by Age Range:</strong>
  <ul>
    <li>
      <h4>5-17</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>18-36</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>36-54</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>54-72</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>72+</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <h4>Prefer not say</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Unsure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</p>

<% if @question.image_url(:thumb) != nil %>
  <br>
  <%= image_tag(@question.image_url(:thumb).to_s) %>
<% end %>
