<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Yes:</strong>
  <%= @question.yes %>
</p>

<p>
  <strong>No:</strong>
  <%= @question.no %>
</p>

<p>
  <strong>Unsure:</strong>
  <%= @question.unsure %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @question.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user_id %>
</p>
