<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (6 characters minimum)" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
  </div>

  <br>
  <p>Optional demographic information, all information is anonymized, and is used only for users informational purposes.</p>

  <div class="form-group">
    <label>Age</label>
    <select class="form-control" name="user[age]">
      <option value=0>Prefer not to say</option>
      <option value=12>5-17</option>
      <option value=26>18-36</option>
      <option value=45>36-54</option>
      <option value=63>54-72</option>
      <option value=80>72+</option>
    </select>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <select class="form-control" name="user[sex]">
      <option value="None">Prefer not to say</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <%= f.number_field :points, value: 0, hidden: true %>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
<% end %>
